{
  "plugins": ["istanbul"],
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" },
        "exclude": ["@babel/plugin-transform-exponentiation-operator"]
      }
    ]
  ]
}
