# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.yalc
yalc.lock

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build version file
public/build-version.txt

# generated strings files
src/strings/strings-*.js

# ignore .vim swap files
*.swp

# playwright
/playwright-report/
/playwright/test-results/

/public/assets/models/test
