# Dependencies
node_modules
.yalc

# Tools
.nyc_output
coverage
nginx

# Editor settings
.idea
.vscode

# Generated Code
build
style-dictionary-dist
tsconfig.json

# Data
dump
photo_data

# Generated Types
src/api/types/generated-schema.ts
src/types/documentProducer/generated-schema.ts
src/queries/generated

# Misc
.DS_Store
.env*
yarn.lock

# npm license report
license-report.html

# Test
**/*.test.ts

# Document Preview assets
public/preview.css
public/js/paged-0.4.3.polyfill.min.js
