version: '3.8'

services:
  postgres:
    image: 'postgis/postgis:13-3.3'
    ports:
      - '5432:5432'
    volumes:
      - "$HOME/docker/volumes/postgres:/var/lib/postgresql"
    environment:
      POSTGRES_DB: 'terraware'
      POSTGRES_PASSWORD: 'terraware'

  terraware-server:
    image: 'terraware/terraware-server:STAGING'
    ports:
      - '8080:8080'
    environment:
      - 'DATABASE_URL=jdbc:postgresql://postgres:5432/terraware'
      - 'DATABASE_PASSWORD=terraware'
      - 'SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUERURI'
      - 'SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENTSECRET'
      - 'SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI'
      - 'SPRING_THYMELEAF_PREFIX=classpath:templates'
      - 'TERRAWARE_MAPBOX_API_TOKEN'
      - 'TERRAWARE_PHOTO_DIR=/photos'
      - 'TERRAWARE_ENABLE_AWAITING_CHECK_IN=true'
      - 'TERRAWARE_ALLOW_ADMIN_UI_FOR_NON_ADMINS=true'
    volumes:
      - './photo-data:/photos'
    depends_on:
      - 'postgres'
