services:
  postgres:
    image: 'terraware/postgres:v20250227.1'
    ports:
      - '5432:5432'
    volumes:
      - '$HOME/docker/volumes/postgres/data:/var/lib/postgresql/data'
    environment:
      POSTGRES_DB: 'terraware'
      POSTGRES_PASSWORD: 'terraware'

  terraware-server:
    image: 'terraware/terraware-server:STAGING'
    ports:
      - '8080:8080'
    environment:
      - 'DATABASE_URL=jdbc:postgresql://postgres:5432/terraware'
      - 'DATABASE_PASSWORD=terraware'
      - 'SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUERURI'
      - 'SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENTSECRET'
      - 'SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI'
      - 'SPRING_THYMELEAF_PREFIX=classpath:templates'
      - 'SPRING_CLOUD_AWS_SQS_ENABLED=false'
      - 'TERRAWARE_ATLASSIAN_ACCOUNT'
      - 'TERRAWARE_ATLASSIAN_APIHOST'
      - 'TERRAWARE_ATLASSIAN_APITOKEN'
      - 'TERRAWARE_ATLASSIAN_ENABLED'
      - 'TERRAWARE_ATLASSIAN_SERVICEDESKKEY'
      - 'TERRAWARE_MAPBOX_API_TOKEN'
      - 'TERRAWARE_PHOTO_DIR=/photos'
      - 'TERRAWARE_ENABLE_AWAITING_CHECK_IN=true'
      - 'TERRAWARE_ALLOW_ADMIN_UI_FOR_NON_ADMINS=true'
    volumes:
      - './photo-data:/photos'
    depends_on:
      - 'postgres'

  nginx:
    image: nginx
    volumes:
      - ./nginx:/etc/nginx/templates
      - ./build:/usr/share/nginx/html
    ports:
      - '3001:80'
    environment:
      - 'SERVER_URL=http://terraware-server:8080'
    depends_on:
      - 'terraware-server'
    # Only launch nginx listening on http://localhost:3001 if
    # `--profile prod` is passed to `docker compose`.
    profiles: [prod]
