version: '2'

services:
  postgres:
    image: 'postgis/postgis:12-3.1'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: 'terraware'
      POSTGRES_PASSWORD: 'terraware'

  terraware-server:
    image: 'terraware/terraware-server'
    ports:
      - '8080:8080'
    environment:
      - 'DATABASE_URL=jdbc:postgresql://postgres:5432/terraware'
      - 'DATABASE_PASSWORD=terraware'
      - 'TERRAWARE_KEYCLOAK_CLIENT_ID'
      - 'TERRAWARE_KEYCLOAK_CLIENT_SECRET'
      - 'TERRAWARE_KEYCLOAK_REALM'
      - 'TERRAWARE_KEYCLOAK_SERVER_URL'
      - 'TERRAWARE_PHOTO_DIR=/photos'
    volumes:
      - './photo-data:/photos'
    depends_on:
      - 'postgres'
