version: '3.8'

services:
  postgres:
    image: 'postgis/postgis:12-3.1'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: 'terraware'
      POSTGRES_PASSWORD: 'terraware'

  terraware-server:
    image: 'terraware/terraware-server:STAGING'
    ports:
      - '8080:8080'
    environment:
      - 'DATABASE_URL=jdbc:postgresql://postgres:5432/terraware'
      - 'DATABASE_PASSWORD=terraware'
      - 'KEYCLOAK_AUTH_SERVER_URL'
      - 'KEYCLOAK_CREDENTIALS_SECRET'
      - 'KEYCLOAK_REALM'
      - 'KEYCLOAK_RESOURCE'
      - 'TERRAWARE_PHOTO_DIR=/photos'
      - TERRAWARE_ENABLE_AWAITING_CHECK_IN=true
    volumes:
      - './photo-data:/photos'
    depends_on:
      - 'postgres'
