# adapted from https://testdriven.io/blog/fastapi-docker-traefik/

version: '3.8'

services:
  web:
    image: terraware/gis-server
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; uvicorn app.main:app --host 0.0.0.0'
    volumes:
      - photos:/photos
    ports:
      - 8008:8000
    environment:
      - SQLALCHEMY_DATABASE_URL=postgresql://postgres:localdev1234@db:5432/gis-server
      - ENABLE_AUTH=false
      - ACCESS_TOKEN_SECRET_KEY=test1234
      - ACCESS_TOKEN_EXPIRE_MINUTES=10080
      - PHOTO_PATH=/photos
      - TEST_AUTH_CODE=test1234
      - GIS_TEST_DATA_PATH=/app
      - GIS_TEST_SITE_ID=1
      - CORS_ORIGINS=http://localhost:3000
      - 'KEYCLOAK_AUTH_SERVER_URL'
      - 'KEYCLOAK_CREDENTIALS_SECRET'
      - 'KEYCLOAK_REALM'
      - 'KEYCLOAK_RESOURCE'
    depends_on:
      - db

  db:
    image: postgis/postgis
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=localdev1234
      - POSTGRES_DB=gis-server

  proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.1.3
    ports:
      - 4000:4000
    environment:
      - OAUTH2_PROXY_CLIENT_SECRET
      - OAUTH2_PROXY_COOKIE_SECRET
      - OAUTH2_PROXY_OIDC_ISSUER_URL
      - OAUTH2_PROXY_HTTP_ADDRESS=:4000
      - OAUTH2_PROXY_CLIENT_ID=localhost-oauth2-proxy
      - OAUTH2_PROXY_COOKIE_SECURE=false
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      - OAUTH2_PROXY_PASS_ACCESS_TOKEN=true
      - OAUTH2_PROXY_PROVIDER=oidc
      - OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
      - OAUTH2_PROXY_UPSTREAMS=http://host.docker.internal:3000/,http://web:8000/api/
      - OAUTH2_PROXY_WHITELIST_DOMAINS=localhost:*

volumes:
  postgres_data:
  photos:
