@import './style-dictionary-dist/textfield_variables.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../../fonts/Inter.ttf) format('truetype');
}

.select {
  display: flex;
  flex-flow: row wrap;

  .textfield-container {
    position: relative;
    height: 43px;
    width: 228px;
  }
  .textfield-label {
    font-family: $tw-fnt-frm-fld-label-font-family;
    font-size: $tw-fnt-frm-fld-label-font-size;
    font-weight: $tw-fnt-frm-fld-label-font-weight;
    line-height: $tw-fnt-frm-fld-label-line-height;
    color: $tw-clr-frm-fld-label;
    margin-bottom: $tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .textfield-help-text {
    font-family: $tw-fnt-frm-fld-help-text-font-family;
    font-size: $tw-fnt-frm-fld-help-text-font-size;
    font-weight: $tw-fnt-frm-fld-help-text-font-weight;
    line-height: $tw-fnt-frm-fld-help-text-line-height;
    color: $tw-clr-frm-fld-help-text;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: $tw-spc-base-xx-small;
  }

  textarea {
    font-family: $tw-fnt-frm-fld-text-value-font-family;
    font-size: $tw-fnt-frm-fld-text-value-font-size;
    font-weight: $tw-fnt-frm-fld-text-value-font-weight;
    line-height: $tw-fnt-frm-fld-text-value-line-height;
    color: $tw-clr-frm-fld-value;
    padding-top: 0;
    padding-bottom: 0;
    &::placeholder {
      font-family: $tw-fnt-frm-fld-text-placeholder-font-family;
      font-size: $tw-fnt-frm-fld-text-placeholder-font-size;
      font-weight: $tw-fnt-frm-fld-text-placeholder-font-weight;
      line-height: $tw-fnt-frm-fld-text-placeholder-line-height;
      color: $tw-clr-base-gray-300;
    }
    &:focus-visible {
      outline: none;
    }
  }

  .textfield-value {
    background-color: $tw-clr-frm-fld-text-input-fill;
    border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke;
    padding: $tw-spc-base-x-small;
    border-radius: $tw-rds-frm-fld-text-input;
    border-width: $tw-sz-frm-fld-text-input-stroke;
    display: flex;

    &:hover {
      border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-hover;
    }

    &:active {
      border: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-frm-fld-text-input-stroke-hover;
    }

    input {
      border: none;
      width: 100%;
      font-family: $tw-fnt-frm-fld-text-value-font-family;
      font-size: $tw-fnt-frm-fld-text-value-font-size;
      font-weight: $tw-fnt-frm-fld-text-value-font-weight;
      line-height: $tw-fnt-frm-fld-text-value-line-height;
      color: $tw-clr-frm-fld-value;
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      &::placeholder {
        font-family: $tw-fnt-frm-fld-text-placeholder-font-family;
        font-size: $tw-fnt-frm-fld-text-placeholder-font-size;
        font-weight: $tw-fnt-frm-fld-text-placeholder-font-weight;
        line-height: $tw-fnt-frm-fld-text-placeholder-line-height;
        color: $tw-clr-base-gray-300;
      }
      &:focus-visible {
        outline: none;
      }
    }

    &--display {
      font-family: $tw-fnt-frm-fld-text-value-font-family;
      font-size: $tw-fnt-frm-fld-text-value-font-size;
      font-weight: $tw-fnt-frm-fld-text-value-font-weight;
      line-height: $tw-fnt-frm-fld-text-value-line-height;
      padding: 0;
      margin: 0;
    }

    &--disabled {
      opacity: $tw-opcty-semantic-off;
      pointer-events: none;
      &:hover {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke;
      }

      &:active {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke;
      }
    }

    &--icon-right {
      width: $tw-fnt-frm-fld-text-value-line-height;
      height: $tw-fnt-frm-fld-text-value-line-height;
      fill: $tw-clr-frm-fld-value;
    }

    &--icon-left {
      width: $tw-fnt-frm-fld-text-value-line-height;
      height: $tw-fnt-frm-fld-text-value-line-height;
      fill: $tw-clr-frm-fld-value;
      margin-right: $tw-spc-base-x-small;
    }

    &--error {
      border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-error;
      background-color: $tw-clr-frm-fld-text-input-fill-error;

      &:hover {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-error;
      }

      &:active {
        border: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-frm-fld-text-input-stroke-error;
      }
    }

    &--warning {
      border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-warning;
      background-color: $tw-clr-frm-fld-text-input-fill-warning;

      &:hover {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-warning;
      }

      &:active {
        border: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-frm-fld-text-input-stroke-warning;
      }
    }

    &--readonly {
      background-color: $tw-clr-frm-fld-text-input-fill-read-only;
      &:hover {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke;
      }

      &:active {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke;
      }
    }
  }

  .textfield-error-text {
    font-family: $tw-fnt-frm-fld-error-text-font-family;
    font-size: $tw-fnt-frm-fld-error-text-font-size;
    font-weight: $tw-fnt-frm-fld-error-text-font-weight;
    line-height: $tw-fnt-frm-fld-error-text-line-height;
    color: $tw-clr-frm-fld-error-text;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: $tw-clr-frm-fld-error-text;
      width: $tw-fnt-frm-fld-error-text-line-height;
      height: $tw-fnt-frm-fld-error-text-line-height;
      margin-right: $tw-spc-base-x-small;
    }
  }

  .textfield-warning-text {
    font-family: $tw-fnt-frm-fld-warning-text-font-family;
    font-size: $tw-fnt-frm-fld-warning-text-font-size;
    font-weight: $tw-fnt-frm-fld-warning-text-font-weight;
    line-height: $tw-fnt-frm-fld-warning-text-line-height;
    color: $tw-clr-frm-fld-warning-text;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: $tw-clr-frm-fld-warning-text;
      width: $tw-fnt-frm-fld-error-text-line-height;
      height: $tw-fnt-frm-fld-error-text-line-height;
      margin-right: $tw-spc-base-x-small;
    }
  }

  .label-container {
    display: flex;
    width: 100%;
    margin-top: $tw-spc-base-xx-small;
  }

  .options-container {
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 42px;
    list-style-type: none;
    padding: $tw-spc-base-x-small 0;
    background: $tw-clr-frm-fld-select-menu-fill;
    border: 1px solid $tw-clr-frm-fld-select-menu-stroke;
    margin: 0;
    margin-top: $tw-spc-base-xx-small;
    border-radius: $tw-rds-frm-fld-text-input;
    max-height: 200px;
    overflow: scroll;

    .select-value {
      font-family: $tw-fnt-frm-fld-select-value-font-family;
      font-size: $tw-fnt-frm-fld-select-value-font-size;
      font-weight: $tw-fnt-frm-fld-select-value-font-weight;
      line-height: $tw-fnt-frm-fld-select-value-line-height;
      padding: $tw-spc-base-x-small $tw-spc-base-small;
      cursor: pointer;

      &:hover {
        background-color: $tw-clr-frm-fld-select-menu-item-fill-hover;
        color: $tw-clr-frm-fld-value;
      }

      &:active {
        background-color: $tw-clr-frm-fld-select-menu-item-fill-active;
        color: $tw-clr-frm-fld-value;
      }

      &--selected {
        background-color: $tw-clr-frm-fld-select-menu-item-fill-selected;
        color: $tw-clr-frm-fld-select-value-selected;
      }

      &--disabled {
        opacity: $tw-opcty-semantic-off;
      }
    }
  }
}
