@import '../../../../style-dictionary-dist/navbar_variables.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../../fonts/Inter.ttf) format('truetype');
}

.navbar {
  background-color: $tw-clr-nvgtn-side-nav-item-fill;
  width: $tw-sz-nvgtn-side-nav-width;
  position: fixed;
  .logo {
    background-color: $tw-clr-nvgtn-side-nav-item-fill;
    padding-bottom: $tw-spc-base-small 0;
    margin-bottom: $tw-spc-base-small 0;

    svg {
      margin: $tw-spc-base-medium $tw-spc-base-small;
      height: $tw-spc-base-small;
    }
  }
  .nav-section {
    background-color: $tw-clr-nvgtn-side-nav-section-fill;
    padding: $tw-spc-base-x-small $tw-spc-base-small;
    .divider {
      border-top: $tw-sz-dvdr-stroke solid $tw-clr-dvdr-fill;
    }

    &--title {
      font-family: $tw-fnt-nvgtn-side-nav-section-title-font-family;
      font-size: $tw-fnt-nvgtn-side-nav-section-title-font-size;
      font-weight: $tw-fnt-nvgtn-side-nav-section-title-font-weight;
      line-height: $tw-fnt-nvgtn-side-nav-section-title-line-height;
      text-transform: $tw-fnt-nvgtn-side-nav-section-title-text-transform;
      color: $tw-clr-nvgtn-side-nav-section-title;
    }
  }

  .nav-item {
    font-family: $tw-fnt-nvgtn-side-nav-item-label-font-family;
    font-size: $tw-fnt-nvgtn-side-nav-item-label-font-size;
    font-weight: $tw-fnt-nvgtn-side-nav-item-label-font-weight;
    line-height: $tw-fnt-nvgtn-side-nav-item-label-line-height;
    color: $tw-clr-nvgtn-side-nav-item-label;
    background-color: $tw-clr-nvgtn-side-nav-item-fill;

    .nav-item-content {
      padding: $tw-sz-base-small;
      display: flex;
      width: 100%;

      .nav-item--label {
        flex: 1 1 auto;
        text-align: left;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      background-color: $tw-clr-nvgtn-side-nav-item-fill-hover;
      // .nav-item {
      //   background-color: $tw-clr-nvgtn-side-nav-item-fill-hover;
      // }
    }

    &:active {
      background-color: $tw-clr-nvgtn-side-nav-item-fill-active;
    }

    button {
      background: none;
      border: none;
      padding-right: $tw-spc-base-small;
      padding-left: $tw-spc-base-x-small;
    }

    &--children-selected {
      background-color: $tw-clr-nvgtn-side-nav-item-fill-active;

      &:hover {
        background-color: $tw-clr-nvgtn-side-nav-item-fill-active;

        & > .nav-item-content {
          background-color: $tw-clr-nvgtn-side-nav-item-fill-hover;
        }
      }

      .nav-item {
        background-color: $tw-clr-nvgtn-side-nav-item-fill-active;

        &:hover {
          background-color: $tw-clr-nvgtn-side-nav-item-fill-hover;
        }
      }
    }

    &--selected {
      background-color: $tw-clr-nvgtn-side-nav-item-fill-active;
      position: relative;
    }

    &--selected:before {
      content: '';
      border-bottom-right-radius: $tw-sz-nvgtn-side-nav-item-indicator;
      border-top-right-radius: $tw-sz-nvgtn-side-nav-item-indicator;
      position: absolute;
      top: 0;
      bottom: 0;
      width: $tw-sz-nvgtn-side-nav-item-indicator;
      background-color: $tw-clr-nvgtn-side-nav-item-indicator-fill;
    }

    &--icon {
      fill: $tw-clr-icon-fill-text;
      margin-right: $tw-spc-base-x-small;
      line-height: $tw-sz-icon-small;
      height: $tw-sz-icon-small;
      width: $tw-sz-icon-small;
    }

    &--arrow {
      height: $tw-sz-icon-small;
      width: $tw-sz-icon-small;
      margin-left: $tw-spc-base-x-small;

      path {
        fill: $tw-clr-icon-fill-gray;
      }
    }

    .subnavbar .nav-item {
      padding-right: $tw-spc-base-small;
      background-color: $tw-clr-nvgtn-side-nav-item-fill-active;

      &-content {
        padding-left: calc(#{$tw-spc-base-small} * 2);
      }
    }
  }
}
