# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: install dependencies
        run: yarn

      - name: linter
        run: yarn lint

      - name: E-2-E
        run: yarn e2e
        env:
          REACT_APP_TERRAWARE_API: 'https://maps.terraware.io'
          REACT_APP_SNACKBAR_TIMEOUT: 1000
          TERRAWARE_API_DEFAULT_USER: ${{ secrets.TERRAWARE_API_DEFAULT_USER }}
          TERRAWARE_API_DEFAULT_PASS: ${{ secrets.TERRAWARE_API_DEFAULT_PASS }}
